<h1>Hello <%= @guest.name %>,</h1>
<p>
  Your appointment with <%= @nutritionist.name %> has been confirmed for <%= @date %> date at <%= @time %>.
</p>
<p>
  We look forward to seeing you then!
</p>
<p>
  Best regards,  
  <%= @nutritionist.name %>
</p>