<h1>Hello <%= @guest.name %>,</h1>
<p>
  Unfortunately, your appointment with <%= @nutritionist.name %> on <%= @date %> at <%= @time %> was rejected.
</p>
<p>
  Please feel free to book another time that works best for you.
</p>
<p>
  Best regards,  
  <%= @nutritionist.name %>
</p>